extends layout

block content
    #wrapper.container
        h1= "Select Movie"
        div.divider
        div.section
            form(method="POST", action="/movie")
                #results
                script(type='text/javascript' src='https://code.jquery.com/jquery-3.1.0.min.js').
                script.
                    var movies = JSON.parse( !{JSON.stringify(payload)} );
                    console.log(movies);
                    var selectedID="";
                    var buttonsJade='<input type="hidden" id="selected" name="selected" value="default">';
                    //create a series of buttons
                    for (var i=0;i<movies.length;i++){
                        buttonsJade += '<button id=\''+ movies[i].imdb +'\' class="waves-effect light-blue lighten-1 btn" type="button" onclick="picked(\''+ movies[i].imdb +'\')">' + movies[i].title + " " + movies[i].year + '</button></br></br>';
                    }
                    buttonsJade += '<input id="subButton" type="submit" onclick="loadingbar()" class="btn waves-effect orange lighten-1 disabled" value="Submit">';
                    results.innerHTML = buttonsJade;
                    function picked(id) {
                        $('#selected').val(id);
                        $('.btn.orange.waves-input-wrapper').removeClass('disabled');
                        $('#'+id).removeClass('lighten-1').addClass('lighten-4');
                    }
                    function loadingbar() {
                        load.innerHTML = '</br><div class="progress"><div class="indeterminate"></div></div>'
                    }
    #load.container

