extends layout

block content
    #container.container
        h1= "Movie Sentiment Analyzer"
        form(name="movieTitle", method="post")
            div.input
                input(placeholder="enter movie name" type="text", name="title", onkeypress='enable()')
            div.actions
                input#subButton.waves-effect.orange.lighten-1.btn.disabled(type="submit", value="Submit")
            script(type='text/javascript' src='https://code.jquery.com/jquery-3.1.0.min.js').
            script.
                function enable(id) {
                    $('.btn.orange.waves-input-wrapper').removeClass('disabled');
                }
