doctype html
html
  head
    title= title
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.1.0.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js').
  body
    block content
