extends layout

block content
    script.
        console.log(!{JSON.stringify(movie)});
    #content.container
        h1 #{movie.title + " " + "(" + movie.year + ")"}
        #poster
            div.row
                div.col.s4
                    img(src="#{movie.poster}")
                #description.col.s8
                    #director
                        p #{movie.director}
                    #rated
                        p #{movie.rated}
                    #blurb
                        p #{movie.plot}
                    div.row
                        #metacritic.col.s4
                            p Metacritic: #{movie.metacritic}
                        #imdb.col.s4
                            p IMDB: #{movie.imdb.rating}
                    #sentimentRating
                        h4 Comment Sentiment: #{sdesc} (#{sentiment})
